@import url('partials/global.css');
@import url('partials/header.css');
@import url('partials/assignment.css');
@import url('partials/footer.css');
@import url('partials/buttons.css');
@import url('partials/progress.css');
@import url('partials/assig_heading.css');
@import url('partials/spinner.css');

/* ======================
    Main Layout
====================== */
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 1rem;
    padding: 1rem;
}


